body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eae0e0;
  }

.form1{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1,h2{
    text-align: center;
    color: #333;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label{
    font-weight: bold;
}
input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #0056b3;
  }

  #result {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e8f5e9;
  }

.hidden{
    display: none;
}